/* Global Styles */
html {
    background-color: #020659;
}
body{
    width:375px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    color: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size:1.25em;
    line-height: 2em;
}
h2{
    color: #590242;
}
h2, h3 {
    font-size: 1em;
}
h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}
#title{
    color: #590242;
}
p, dl, dd {
    font-size: 1em;
}
dl, dd, dt {
    color: #590242;
}
footer p {
    font-size: .75em;
}
/* End Global Styles */

/* Start of Nav Bar */

nav {
    background-color: #030a8c;
    padding-left: 10px;
    position: absolute;
    top: 0;
    width: 375px;
    z-index: 1000; 
}
nav h2 {
    visibility: hidden;
}
nav ul {
    list-style-type: none;
}
#MuzakMaker {
    position: absolute;
    top: 63px;
    left: 60px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}



ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
/* End of Nav Bar */

/* Intro Paragraph */
#intro {
    padding-top: 120px;
    background: linear-gradient(to right,#030a8c,#000000);
    margin: 0;
}
/* End Intro Paragraph */

/* Trending Songs */
#trending {
    background-color: #ffffff;
    padding: 5px;
    margin: 0;
}
#trendingsections {
    background-color: #0d8dfb;
}
/* End Trending Songs */

/* Your Playlists */
#playlisttitle {
    background-color: #ffffff;
    margin: 0;
}
#your{
    background-color: #2699FB;
    margin: 0;
}
#allyourplaylists{
    background-color: #ffffff;
    margin: 0;
}
/* End Your Playlists */

/* Curated Playlists */
#curatedtitle{
    background-color: #ffffff;
    margin: 0;
}
#curated{
    background-color: #030a8c;
    margin: 0;
}
#morecurated{
    background-color: #ffffff;
    margin: 0;
}
#curatedsection {
    background-color: #020873;
}
/* End Curated Playlists */

/* Footer */
footer{
    background-color: #ffffff;
    color: #590242;
    width: 375px;
    text-align: center;
    margin: 0;
}
/* End Footer */

/* Start of Scroll Bar */

.scroll {
    width: 375px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll section {
    margin: 10px;
    position: relative;
}
.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}
dl {
    display:flex;
}
dt{
    padding-right: 5px;
}
audio{
    position: absolute;
    bottom: 150px;
    left: 5px;
}
.more{
    text-decoration:none;
    background-color: #590242;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
}
.more:hover {
    background-color: #020659;
}
#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
/* End of Scroll Bar */

/* Audio */
audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255,255,255,.75)
}
/* End Audio */

/*  Start Playlist Scroll Bar */
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar  {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb  {
    background: #020659;
    border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover  {
    background: #ffffff;
}
/*  End Playlist Scroll Bar */

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
    body{
        width: 834px;
    }
    #trending{
        width:834px;
    }
    #MuzakMaker {
        position: absolute;
        top: -10px;
        left: 20px;
    }
    nav {
        width: 834px;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    nav ul li a{
        text-decoration: none;
        color: #ffffff;
    }


}